.FilterBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border-radius: 50vmax;
    
    background: rgb(180, 180, 180);
    background: white;
    box-sizing: border-box;
}

.FilterBar button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 30px;
    width: 30px;
    
    border: none;
    border-radius: 15px;
    
    background: rgb(50, 50, 50);
    color: rgb(150, 150, 150);
    transition: 0.5s;
    
    box-sizing: border-box;
}

.FilterBar button:hover {
    color: whitesmoke;
    transform: scale(1.33);
    transition: 0.5s;
}

.FilterBar select {
    font-size: 15px;

    height: 30px;
    width: 95px;
    padding: 5px 0px 5px 5px;
    margin-right: 5px;

    outline: none;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    background: none;
    box-sizing: border-box;

    color: rgb(90, 90, 90);
}

.FilterBar button span {
    font-size: 22px;
}

/* .FilterBar select:focus {
    color: white;
} */