.Search {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    width: 100%;
    box-sizing: border-box;

    background: whitesmoke;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
