.Search {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    width: 100%;
    box-sizing: border-box;

    background: rgb(220,220,220);
    padding: 5px;
    border-radius: 50vmax;
}
