.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 5vh 10vw;
    
    background-image: url("https://media.gq-magazine.co.uk/photos/5d139bc67fcc8e76bb8201d7/16:9/w_1600%2Cc_limit/Record-hp-GQ-7Jun17_istock_b.jpg");
    background-repeat: none;
    background-position: center;
}

.Home > * {
    margin-bottom: 4vh;
}

.Home-welcome {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    box-sizing: border-box;
    
    background:rgba(245, 245, 245, 0.8);
    border-radius: 10px;
    padding: 2vh 5vw;
}

.Home-welcomeTitle {
    font-family: 'Rubik Dirt';
    font-size: 36px;
    font-weight: 200;
    margin: 0 0 10px 0;
}

.Home-welcomeText {
    font-size: 15px;
    font-weight: 200;
    margin: 0;
}