.SearchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 50vmax;

    background: rgb(180,180,180);
    background: white;
    box-sizing: border-box;
}

.SearchBar input {
    height: 30px;
    width: 100px;
    padding: 5px 5px 5px 15px;

    font-size: 15px;
    outline: none;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    background: none;
    box-sizing: border-box;
}

.SearchBar input::placeholder {
    color: rgb(90,90,90);
}

.SearchBar button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 30px;

    border: none;
    border-radius: 15px;

    background: rgb(50, 50, 50);
    color: rgb(150,150,150);

    box-sizing: border-box;
}

.SearchBar button span {
    font-size: 24px;
}

.SearchBar button:hover {
    color: whitesmoke;
    transition: 0.5s;
}

.SearchBar input:focus {
    color: rgb(50,50,50);
}