.ResultCard {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;


    position: relative;
    /* min-height: 250px;
    width: 180px; */

    background: white;
    border-radius: 5px;
    transition: 0.5s;
}

.ResultCard a {
    text-decoration: none;
}

.ResultCard:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 49px 4px rgb(120,120,120);
    z-index: 1;
    transition: 0.5s;
}

.ResultCard-favourite {
    position: absolute;
    top: 3%;
    right: 3%;
}

.ResultCard-favourite span {
    font-size: 24px;
    font-weight: 200;
    color: rgba(10,10,10, 0.75);
    transition: 0.5s;
}

.ResultCard-favourite span:hover {
    transform: scale(1.2);
    font-weight: 400;
    color: rgba(200,10,10, 0.75);
    transition: 0.5s;
}

.ResultCard-favourite .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.ResultCard-image {
    height: auto;
    width: 100%;
    background: rgba(50,50,50, 0.25);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ResultCard-image img {
    height: auto;
    width: 100%;
    object-fit: cover;
    overflow: hidden;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ResultCard-text {
    margin: 4%;
}

.ResultCard-text h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}

.ResultCard-text h3 {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    color: rgb(100,100,100);
}

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .ResultCard {
        width: 45%;
        margin: 2%;
    }

}

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .ResultCard {
        width: 22%;
        margin: 1.25%;
    }

    .ResultCard-favourite span {
        font-size: 20px;
    }

    .ResultCard-text h2 {
        font-size: 15px;
    }

    .ResultCard-text h3 {
        font-size: 12px;
    }
}

/* Laptop / Small Screen */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .ResultCard {
            width: 22%;
            margin: 1.25%;
        }
}

/* Desktop / Large Screen */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .ResultCard {
            width: 15%;
            margin: 1.25%;
        }
    }        
    
    /* Tv / X-Large Screen */
    @media screen and (min-width: 1221px) {
    .ResultCard {
            width: 15%;
            margin: 1.25%;
        }
}