.billingForm, .creditcard-wrapper {
    display: flex;
    flex-direction: column;
    width: 50vw;
 margin-top: 10px;
}

.billingForm {
    margin: 50px 0;
}

.billingElement {
    margin-top: 10px;
}

