.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 2;
  height: 30px;
  width: 100%;
  margin: 0;
  padding: 1vh 5vw;

  background: rgba(50, 50, 50, 1);;
  color: whitesmoke;
}

.NavBar-logo {
  font-family: 'Rubik Dirt';
  font-size: 24px;
}

.NavBar-link {
  padding: 5px 5px;
  margin: 0 5px;

  font-size: 12px;
  text-decoration: none;
  color: whitesmoke;
}

.NavBar-welcome {
  color: grey;
}