.Results {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;

    box-sizing: border-box;

    /* border: 2px solid rgba(50, 50, 50, 0.1); */

    background: whitesmoke;
    border-radius: 17px;
}

.Results-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .Results-list {
        padding: 5%;
    }
}

/* Tablet */
@media screen and (min-width: 480px) and (max-width: 768px) {
    .Results-list {
        padding: 2%;
    }
}

/* Laptop / Small Screen */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .Results-list {
        padding: 2%;
    }
}

/* Desktop / Large Screen */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .Results-list {
        padding: 2%;
    }
}

/* Tv / X-Large Screen */
@media screen and (min-width: 1221px) {
    .Results-list {
        padding: 1%;
    }
}