.BasketPage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 100vw;
    padding: 2vh 10vw;
    box-sizing: border-box;
}

.BasketPage-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    padding: 2vh 2vw;
    
    background: whitesmoke
}

.BasketPage-basketItem {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 10px;

    background: white;
    padding: 10px;
    border-radius: 10px;
}

.BasketPage-basketItem > * {
    margin: 0;
}

.BasketPage-productTitle {
    width: 100%;
    background: whitesmoke;
    margin: 0;
    padding: 5px 10px;
    border-radius: 5px;
    color: rgb(50,50,50);
}

.BasketPage-productImage {
    height: auto;
    width: auto;
}

/* .BasketPage-checkout {
    margin-top: 15px;
} */

.BasketPage-checkout {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    width: 200px;

    font-size: 14px;

    background: rgb(120, 120, 120);
    color: whitesmoke;

    outline: none;
    border: 2px solid;
    border-radius: 5px;
    transition: 0.5s;
}

.BasketPage-checkout span {
    font-weight: 300;
    padding-left: 5px;
}

.BasketPage-checkout:hover {
    background: rgb(50, 50, 50);
    transition: 0.5s;
}

.BasketPage-checkout:active {
    transform: scale(0.95) translateY(5px);
    transition: 0.3s;
}

