.FeaturedAlbums {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background: whitesmoke;
    border-radius: 10px;
    padding: 2vh 5vw;
}

.FeaturedAlbums-title {
    font-family: 'Rubik Dirt';
    font-size: 24px;
    font-weight: 200;
    margin: 0 0 10px 0;
}

.FeaturedAlbums-resultCards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}