.ProductPage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;

    width: 100vw;
    padding: 6vw 7vw;
    box-sizing: border-box;
}

.ProductPage-pageControl {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 100%;
}

.ProductPage-pageControl .material-symbols-outlined {
    font-size: 32px;
    color: rgba(10, 10, 10, 0.75);
    transition: 0.5s;
    font-variation-settings:
        'FILL' 1,
        'wght' 800,
        'GRAD' 0,
        'opsz' 48
}

.ProductPage-favourite {
    font-size: 24px;
    font-weight: 200;
    margin-left: auto;
}

.ProductPage-favourite span:hover {
    transform: scale(1.1);
    font-weight: 400;
    color: rgba(200, 10, 10, 0.75);
    transition: 0.5s;
}

.ProductPage-favourite .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.ProductPage-productContainer > * {
    margin: 5px 0;
}

.ProductPage-productContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;

    padding: 10px 15px;
    margin-bottom: 4vw;
    width: 100%;
    box-sizing: border-box;
    
    background: whitesmoke;
    border-radius: 17px;
}

.ProductPage-productInfo {
    background: white;
    border-radius: 10px;
    padding: 15px;
}

.ProductPage-productInfo h1,
.ProductPage-productInfo h2,
.ProductPage-productInfo h3 {
    margin: 0;
    font-family: 'Rubik Dirt', cursive;
    font-weight: 400;
}

.ProductPage-productInfo h1 {
    font-size: xx-large;
}

.ProductPage-productInfo h2 {
    font-size: x-large;
}

.ProductPage-productInfo h3 {
    font-size: large;
}

.ProductPage-productInfo p {
    margin: 5px 0 0 0;
    font-size: 14px;
    font-weight: 200;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.ProductPage-productInfo p.closed {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.ProductPage-productInfo p.open {
    display: block;
    overflow: visible;
}

/* .ProductPage .ImageViewer {
    max-width: 90%;
} */

/* .ProductPage .Listings {
    max-width: 45%;
} */

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .ProductPage-productContainer > * {
        width: 100%;
    }

    .ImageViewer {
        order: 2;
    }

    .ProductPage-productInfo {
        order: 1;
    }

    .Tracklist {
        order: 3;
    }

    .Listings {
        order: 4;
    }
}

/* Tablet */
@media screen and (min-width: 480px) and (max-width: 768px) {
    .ProductPage-productContainer > * {
        width: 100%;
    }

    .ImageViewer {
        order: 2;
        width: calc(50% - 5px);
    }
        
    .ProductPage-productInfo {
        order: 1;
    }
        
    .Tracklist {
        order: 3;
        width: calc(50% - 5px);
    }
        
    .Listings {
        order: 4;
    }
}

/* Laptop / Small Screen */
/* @media screen and (min-width: 769px) and (max-width: 1024px) { */
@media screen and (min-width: 769px) {
    
        .ImageViewer {
            order: 2;
            width: calc(50% - 5px);
        }
        
        .ProductPage-productInfo {
            order: 1;
            width: calc(50% - 5px);
            box-sizing: border-box;
        }
        
        .Tracklist {
            order: 3;
            width: calc(50% - 5px);
        }
    
        .Listings {
            order: 4;
            width: calc(50% - 5px);
            /* align-self: flex-end;
            justify-self: flex-start; */
            /* justify-self: baseline; */
        }
}


/* Desktop / Large Screen */
@media screen and (min-width: 1025px) and (max-width: 1200px) {}


/* Tv / X-Large Screen */
@media screen and (min-width: 1021px) {}