.Listings {
    border-radius: 10px;
    background: white;
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}

.Listings h2 {
    font-family: 'Rubik Dirt', cursive;
    font-weight: 300;
    margin: 0;
}