.Listings {
    border-radius: 10px;
    background: white;
    padding: 15px;
    box-sizing: border-box;
}

.Listings h2 {
    font-family: 'Rubik Dirt', cursive;
    font-weight: 300;
    margin: 0;
    /* padding: 0px 0 10px 0; */
}